apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: gitalb-cert
  namespace: gitlab-system
spec:
  secretName: gitlab-cert
  isCA: false
  usages:
    - digital signature
    - key encipherment
    - server auth
    - client auth
  dnsNames:
    - "gitlab.gitlab-system.svc.cluster.local"
    - "gitlab.gitlab-system.svc"
  issuerRef:
    kind: ClusterIssuer
    group: cert-manager.io
    name: tmaxcloud-issuer
