apiVersion: v1
kind: Config
clusters:
- cluster:
    server: {{ audit_webhook_server_url }}
{% for key in audit_webhook_server_extra_args %}
    {{ key }}: "{{ audit_webhook_server_extra_args[key] }}"
{% endfor %}
  name: audit-webhook-service
contexts:
- context:
    cluster: audit-webhook-service
  name: audit-webhook-context
current-context: audit-webhook-context
preferences: {}
users: []
