# Default values for argocd.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicas: 1

global:
    registry:
      is_offline: false
      private_registry:
    time_zone: Asia/Seoul

image:
  redis:
    repository: {{ redis_image_repo }}
    tag: {{ redis_image_tag }}
  argocdServer:
    repository: {{ argocd_image_repo }}
    tag: {{ argocd_image_tag }}
  dex:
    repository: {{ dex_image_repo }}
    tag: {{ dex_image_tag }}

redis:
  replicas: 1
  loglevel: "notice" # warning, notice, verbose, debug
argocdServer:
  replicas: 1
  loglevel: "info" # debug, info, warn, error
dex:
  replicas: 1
  loglevel: "info" # debug, info, warn, error
repoServer:
  replicas: 1
  loglevel: "info" # debug, info, warn, error
notification:
  replicaes: 1
  loglevel: "info" # defug, info, warn, error
controller:
  replicas: 1
  loglevel: "info" # debug, info, warn, error
appsetController:
  replicas: 1
  loglevel: "info" # debug, info, warn, error

argoIngress:
  hosts:
    domain: {{ custom_domain_name }}
    subdomain: {{ argocd_subdomain }}
  tls:
    enabled: true
    secretName:
  enableTraefik: false
