#!/bin/bash

export pwd='$2a$10$EcdSX9nncMW91IklFekChuylRqvJi.tSVmn49wHFrSklzsAh5xdt.'
{{ bin_dir }}/kubectl -n argocd patch secret argocd-secret \
  -p '{"stringData": {
    "admin.password": "'$pwd'",
    "admin.passwordMtime": "'$(date +%FT%T%Z)'"
  }}'