apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server-ingress
  namespace: {{ argocd_namespace }}
  annotations:
    kubernetes.io/ingress.class: {{ hyperregistry_ingress_nginx_class }}
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
spec:
  rules:
  - host: argocd.{{ hyperregistry_ingress_nginx_ip }}.nip.io
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service: 
            name: argocd-server
            port: 
              name: https
  tls:
  - hosts:
    - argocd.{{ hyperregistry_ingress_nginx_ip }}.nip.io
    secretName: argocd-secret
