#!/bin/bash
pip3 install fnvhash

# Get gitlab ingress host address
GITLAB_INGRESS_HOST=$(echo $(kubectl get ingress gitlab-ingress -n gitlab-system -o json | jq '.spec.rules[0].host') | tr -d '"')

# Set Env
REPO_URL=https://$GITLAB_INGRESS_HOST/root/{{ REPO_NAME }}.git
USERNAME="root"
PASSWORD={{ GITLAB_PASSWORD }}
SECRET_MANIFEST="argocd-repo-secret.yml"

# Generate repository secret
SECRET_NAME=`python3 argocd-gen-secret-name.py $REPO_URL`

# Encode base64
BASE64_REPO_URL=$(echo $(echo -n $REPO_URL | base64) | tr -d ' ')
BASE64_USERNAME=$(echo $(echo -n $USERNAME | base64) | tr -d ' ')
BASE64_PASSWORD=$(echo $(echo -n $PASSWORD | base64) | tr -d ' ')

# Get gitlab tls key
GITLAB_TLS_KEY=$(kubectl get secret gitlab-tls -n gitlab-system -o jsonpath="{.data.tls.key}")

# replace vars
sed -i "s|\@secret_name|${SECRET_NAME}|g" ${SECRET_MANIFEST}
sed -i "s|\@repo_url|${BASE64_REPO_URL}|g" ${SECRET_MANIFEST}
sed -i "s|\@username|${BASE64_USERNAME}|g" ${SECRET_MANIFEST}
sed -i "s|\@password|${BASE64_PASSWORD}|g" ${SECRET_MANIFEST}

kubectl apply -f $SECRET_MANIFEST
