#!/bin/bash
pod_name=$(kubectl get pods -n {{ NAMESPACE }} | grep gitlab | awk '{print $1}'
kubectl exec -it -n {{ NAMESPACE }} ${pod_name} -- gitlab-rails runner "token = User.find_by_username('root').personal_access_tokens.create(scopes: [:api], name: 'init-token'); token.set_token({{ gitlab-token }}); token.save!"