apiVersion: v1
kind: Namespace
metadata:
  name: {{ NAMESPACE }}
  labels:
    app.kubernetes.io/instance: {{ APP_NAME }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ APP_NAME }}-account
  namespace: {{ NAMESPACE }}
  labels:
    app.kubernetes.io/instance: {{ APP_NAME }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ APP_NAME }}-role
  namespace: {{ NAMESPACE }}
  labels:
    app.kubernetes.io/instance: {{ APP_NAME }}
rules:
- apiGroups: [""]
  resources: ["services"]
  resourceNames: ["{{ APP_NAME }}-service"]
  verbs: ["get", "list", "create", "patch", "update"]
- apiGroups: ["extensions", "apps"]
  resources: ["deployments"]
  resourceNames: ["{{ APP_NAME }}"]
  verbs: ["get", "list", "create", "patch", "update", "delete"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "list", "create", "patch", "update", "delete"]
- apiGroups: ["networkings", "extensions", "networking.k8s.io"]
  resources: ["ingresses"]
  resourceNames: ["{{ APP_NAME }}-ingress"]
  verbs: ["get", "list", "create", "patch", "update", "delete"]
- apiGroups: ["cert-manager.io"]
  resources: ["issuers"]
  verbs: ["get", "list", "create", "patch", "update", "delete"]
- apiGroups: ["cert-manager.io"]
  resources: ["Certificate","certificates"]
  verbs: ["get", "list", "create", "patch", "update", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ APP_NAME }}-binding
  namespace: {{ NAMESPACE }}
  labels:
    app.kubernetes.io/instance: {{ APP_NAME }}
subjects:
- kind: ServiceAccount
  name: {{ APP_NAME }}-account
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ APP_NAME }}-role
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/instance: {{ APP_NAME }}
  name: {{ APP_NAME }}-account-secret
  namespace: {{ NAMESPACE }}
  annotations:
    kubernetes.io/service-account.name: {{ APP_NAME }}-account
type: kubernetes.io/service-account-token
---
apiVersion: v1
kind: Service
metadata:
  name: {{ APP_NAME }}-service
  namespace: {{ NAMESPACE }}
  labels:
    app: {{ APP_NAME }}
    app.kubernetes.io/instance: {{ APP_NAME }}
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
  - name: https
    port: 443
  - name: ssh
    port: 2221
    targetPort: 22
  selector:
    app: {{ APP_NAME }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  labels:
    app.kubernetes.io/instance: {{ APP_NAME }}
  name: {{ APP_NAME }}-ingress
  namespace: {{ NAMESPACE }}
  annotations:
    kubernetes.io/ingress.class: {{ INGRESS_CLASS }}
    nginx.ingress.kubernetes.io/proxy-body-size: "1024m"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  tls:
    - hosts:
      - waiting.ip
      secretName: {{ APP_NAME }}-tls
  rules:
  - host: waiting.ip
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ APP_NAME }}-service
            port:
              number: 80

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ APP_NAME }}-pvc
  namespace: {{ NAMESPACE }}
  labels:
    app: {{ APP_NAME }}
    app.kubernetes.io/instance: {{ APP_NAME }}
spec:
  storageClassName: {{ STORAGE_CLASS }}
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ STORAGE }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ APP_NAME }}
  namespace: {{ NAMESPACE }}
  labels:
    app: {{ APP_NAME }}
    app.kubernetes.io/instance: {{ APP_NAME }}
spec:
  selector:
    matchLabels:
      app: {{ APP_NAME }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ APP_NAME }}
    spec:
      serviceAccountName: {{ APP_NAME }}-account
      initContainers:
      - name: parse-svc
        image: "{{ gitlab_kubectl_repo }}:{{ gitlab_kubectl_tag }}"
        env:
        - name: NODE_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        volumeMounts:
        - name: shared
          mountPath: /tmp/shared
        - name: {{ APP_NAME }}-account-secret
          mountPath: /var/run/secrets/kubernetes.io/serviceaccount
        resources:
          limits:
            cpu: {{ RESOURCE_CPU }}
            memory: {{ RESOURCE_MEM }}
          requests:
            cpu: {{ RESOURCE_CPU }}
            memory: {{ RESOURCE_MEM }}
        command:
        - /bin/bash
        - -c
        - -x
        - |
          SVC_TYPE={{ SERVICE_TYPE }}
          PORT=80
          PORT_SSH=2221
          # Remove fractions
          PORT="${PORT/\.[0-9]*/}"
          PORT_SSH="${PORT_SSH/\.[0-9]*/}"
          # Configure Service

          if [[ "{{ custom_domain_name }}" == "" ]]; then
            if [[ "{{ ingress_nginx_service_type }}" == "NodePort" ]]; then
              NOW_IP={{ ansible_default_ipv4.address }}
            else
              NOW_IP=""
              while [ "$NOW_IP" == "" ]; do
                  NOW_IP=$(kubectl -n {{ NAMESPACE }} get ingress {{ APP_NAME }}-ingress -o jsonpath='{.status.loadBalancer.ingress[].ip}')
              done
            fi
            ING_HOST="{{ APP_NAME }}.$NAMESPACE.${NOW_IP}.nip.io"
          else
            ING_HOST={{ gitlab_subdomain }}.{{ custom_domain_name }}
          fi
          if [[ "{{ ingress_nginx_service_type }}" == "NodePort" ]]; then
            EXTERNAL_IP="http://${ING_HOST}/"
          else
            EXTERNAL_IP="http://${ING_HOST}/"
          fi
          kubectl -n {{ NAMESPACE }} patch ingress {{ APP_NAME }}-ingress --type=json -p '[{"op": "replace", "path": "/spec/rules/0/host", "value": "'$ING_HOST'"}]'
          # Override external url
          if [[ "{{ EXTERNAL_URL }}" != "" ]]; then
              EXTERNAL_IP="{{ EXTERNAL_URL }}"
          fi
          cat <<EOT >> /tmp/shared/omnibus.env
          external_url '$EXTERNAL_IP'
          gitlab_rails['gitlab_shell_ssh_port'] = $PORT_SSH
          prometheus['enable'] = false
          prometheus['monitor_kubernetes'] = false
          unicorn['worker_processes'] = 4
          grafana['enable'] = false
          nginx['client_max_body_size'] = '2500m'
          gitlab_rails['initial_root_password'] = "{{ GITLAB_PASSWORD }}"
          nginx['ssl_protocols'] = "TLSv1.1"
          EOT
          # Add keycloak
          if [[ "{{ KEYCLOAK_URL }}" != "" ]]; then
            if [[ "{{ KEYCLOAK_TLS_SECRET_NAME }}" != "" ]]; then
              kubectl -n {{ NAMESPACE }} get secret {{ KEYCLOAK_TLS_SECRET_NAME }} -o jsonpath='{.data.tls\.crt}' | base64 -d > /tmp/shared/keycloak.pem
            fi
            cat <<EOY >> /tmp/shared/omnibus.env
          gitlab_rails['omniauth_enabled'] = true
          gitlab_rails['omniauth_allow_single_sign_on'] = ['oauth2_generic']
          gitlab_rails['omniauth_block_auto_created_users'] = false
          gitlab_rails['omniauth_providers'] = [
          {
                  'name' => 'oauth2_generic',
                  'issuer' => '{{ KEYCLOAK_URL }}',
                  'app_id' => '{{ KEYCLOAK_CLIENT }}',
                  'app_secret' => '{{ KEYCLOAK_SECRET }}',
                  'discovery' => true,
                  'args' => {
                  client_options: {
                          'site' => '{{ KEYCLOAK_URL }}',
                          'user_info_url' => '/auth/realms/tmax/protocol/openid-connect/userinfo',
                          'authorize_url' => '/auth/realms/tmax/protocol/openid-connect/auth',
                          'token_url' => '/auth/realms/tmax/protocol/openid-connect/token',
                          'redirect_uri' => '$EXTERNAL_IP/users/auth/oauth2_generic/callback',
                  },
                  user_response_structure: {
                  attributes: { email:'email', first_name:'given_name', last_name:'family_name', name:'name', nickname:'preferred_username' },
                  id_path: 'preferred_username'
                  },
                  }
          }
          ]
          EOY
          fi
      - name: init-cert
        image: "{{ gitlab_kubectl_repo }}:{{ gitlab_kubectl_tag }}"
        securityContext:
          privileged: true
        env:
        - name: NODE_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        volumeMounts:
        - name: shared
          mountPath: /tmp/shared
        - name: {{ APP_NAME }}-account-secret
          mountPath: /var/run/secrets/kubernetes.io/serviceaccount
        resources:
          limits:
            cpu: {{ RESOURCE_CPU }}
            memory: {{ RESOURCE_MEM }}
          requests:
            cpu: {{ RESOURCE_CPU }}
            memory: {{ RESOURCE_MEM }}
        command:
        - /bin/bash
        - -c
        - -x
        - |
          SVC_TYPE={{ SERVICE_TYPE }}
          ING_HOST=$(kubectl get -n {{ NAMESPACE }} ingress {{ APP_NAME }}-ingress -o jsonpath='{.spec.rules[0].host}')
          if [[ "{{ TLS_SECRET }}" == "" ]]; then
            openssl genrsa  -out root-ca.key 2048
            openssl req -new -nodes -key root-ca.key -out root-ca.csr -subj "/CN=${ING_HOST}" -days 100
            echo "
            subjectKeyIdentifier   = hash
            authorityKeyIdentifier = keyid:always,issuer:always
            basicConstraints       = CA:TRUE
            keyUsage               = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment, keyAgreement, keyCertSign
            subjectAltName         = DNS:${ING_HOST}
            issuerAltName          = issuer:copy" >> v3.ext
            openssl x509 -req -in root-ca.csr -signkey root-ca.key -out root-ca.crt -days 3650 -sha256 -extfile v3.ext
            echo "
            apiVersion: v1
            kind: Secret
            metadata:
              name: gitlab-tls
            type: kubernetes.io/tls
            data:
              ca.crt: $(cat root-ca.crt | base64 -w 0)
              tls.crt: $(cat root-ca.crt  | base64 -w 0)
              tls.key: $(cat root-ca.key | base64 -w 0)" >> gitlab-tls.yaml
            kubectl apply -n {{ NAMESPACE }} -f gitlab-tls.yaml
            kubectl patch ingress -n {{ NAMESPACE }} {{ APP_NAME }}-ingress --type=json -p '[{"op": "replace", "path": "/spec/tls/0/hosts/0", "value": "'$ING_HOST'"}]'
            kubectl patch ingress -n {{ NAMESPACE }} {{ APP_NAME }}-ingress --type=json -p '[{"op": "replace", "path": "/spec/tls/0/secretName", "value": "gitlab-tls"}]'
          else
            kubectl patch ingress -n {{ NAMESPACE }} {{ APP_NAME }}-ingress --type=json -p '[{"op": "replace", "path": "/spec/tls/0/secretName", "value": "{{ TLS_SECRET }}"}]'
          fi
      containers:
      - name: {{ APP_NAME }}
        securityContext:
          privileged: true
        image: {{ gitlab_image_repo }}:{{ gitlab_image_tag }}
        command:
        - /bin/sh
        - -c
        - -x
        - |
          export GITLAB_OMNIBUS_CONFIG="$(cat /tmp/shared/omnibus.env)"
          echo 'export GITLAB_OMNIBUS_CONFIG="$(cat /tmp/shared/omnibus.env)"' >> /root/.bashrc
          mkdir -p /etc/gitlab/trusted-certs
          cp /tmp/shared/keycloak.pem /etc/gitlab/trusted-certs/keycloak.pem
          /assets/wrapper
        ports:
        - name: http
          containerPort: 80
        - name: https
          containerPort: 443
        - name: ssh
          containerPort: 22
        volumeMounts:
        - name: {{ APP_NAME }}-pv
          mountPath: /etc/gitlab
          subPath: config
        - name: {{ APP_NAME }}-pv
          mountPath: /var/opt/gitlab
          subPath: data
        - name: shared
          mountPath: /tmp/shared
        - name: {{ APP_NAME }}-account-secret
          mountPath: /var/run/secrets/kubernetes.io/serviceaccount
{% if timezone_extra_volumes %}
        - name: {{ timezone_extra_volumes.name }}
          mountPath: {{ timezone_extra_volumes.mountPath }}
          readOnly: {{ timezone_extra_volumes.readOnly | d(not (timezone_extra_volumes.writable | d(false))) | lower }}
{% endif %}
        resources:
          limits:
            cpu: {{ RESOURCE_CPU }}
            memory: {{ RESOURCE_MEM }}
          requests:
            cpu: {{ RESOURCE_CPU }}
            memory: {{ RESOURCE_MEM }}
        readinessProbe:
          exec:
            command:
            - /bin/bash
            - -c
            - |
              /opt/gitlab/bin/gitlab-healthcheck --fail --max-time 10
          periodSeconds: 150
      volumes:
      - name: {{ APP_NAME }}-account-secret
        secret:
          defaultMode: 420
          secretName: {{ APP_NAME }}-account-secret
      - name: {{ APP_NAME }}-pv
        persistentVolumeClaim:
          claimName: {{ APP_NAME }}-pvc
      - name: shared
        emptyDir: {}
{% if timezone_extra_volumes %}
      - name: {{ timezone_extra_volumes.name }}
        hostPath:
          path: {{ timezone_extra_volumes.hostPath }}
{% endif %}

