apiVersion: v1
kind: Service
metadata:
  #annotations:
  #  service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
  #  service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
  #  service.beta.kubernetes.io/aws-load-balancer-internal: "false"
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: ingress-nginx-system
    app.kubernetes.io/name: ingress-nginx-system
    app.kubernetes.io/part-of: ingress-nginx-system
    app.kubernetes.io/version: 1.5.1
  name: ingress-nginx-system-controller
  namespace: {{ ingress_nginx_namespace }}
spec:
  externalTrafficPolicy: Local
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - appProtocol: http
    name: http
    port: 80
    protocol: TCP
    targetPort: http
    nodePort: {{ ingress_nginx_http_port }}
  - appProtocol: https
    name: https
    port: 443
    protocol: TCP
    targetPort: https
    nodePort: {{ ingress_nginx_https_port }}
  - name: kafka-1
    port: 9001
    protocol: TCP
  - name: kafka-2
    port: 9002
    protocol: TCP
  - name: kafka-3
    port: 9003
    protocol: TCP
  selector:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: ingress-nginx-system
    app.kubernetes.io/name: ingress-nginx-system
  type: {{ ingress_nginx_service_type }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: ingress-nginx-system
    app.kubernetes.io/name: ingress-nginx-system
    app.kubernetes.io/part-of: ingress-nginx-system
    app.kubernetes.io/version: 1.5.1
  name: ingress-nginx-system-controller-admission
  namespace: ingress-nginx-system
spec:
  type: ClusterIP
  ports:
  - name: https-webhook
    port: 443
    targetPort: webhook
  selector:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: ingress-nginx-system
    app.kubernetes.io/name: ingress-nginx-system
